.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__photo {
        position: relative;

        img {
            width: 100%;
            display: block;
        }
    }
}
