@use '../abstracts/variables' as *;

.header {
    width: 100%;
    height: 100vh;
    background: url('/assets/images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;

    // @media screen and (max-width: 684px) {
    //     background: url('/assets/images/mobile/image-header.jpg;');
    // }

    nav {
        position: relative;
        padding: 3rem 1.5rem;

        .nav-item,
        .btn {
            @media screen and (max-width: 684px) {
                display: none;
            }
        }

        .nav-link {
            color: $nu-white;
        }

        .btn {
            padding: 2rem 4rem;
            font-weight: 600;
            border-radius: 5rem;
            background: $nu-white;
            text-transform: uppercase;
            transition: 200ms ease-in-out;

            &:hover {
                background: rgba(130, 213, 255, 0.815);
                color: $nu-white;
            }
        }

        .menu {
            display: none;

            @media screen and (max-width: 684px) {
                display: block;
                cursor: pointer;
            }
        }
    }

    &__banner-content {
        text-align: center;
        margin-top: 1rem;
        color: $nu-white;

        @media screen and (min-width: 1285px) {
            position: relative;
            top: 25%;
        }

        .intro {
            font-family: $font-header;
            font-size: 5rem;
            text-transform: uppercase;
            letter-spacing: 2px;

            @media screen and (min-width: 1285px) {
                font-size: 7rem;
            }
        }
        .down-arrow {
            height: 8rem;
            position: relative;
            top: 6rem;

            @media screen and (min-width: 1285px) {
                top: 8.8rem;
            }
        }

        @media screen and (max-width: 684px) {
            position: relative;
            top: 10%;
        }
    }

    // mobile menu
    &__mobile-menu {
        position: absolute;
        top: 11rem;
        left: 50%;
        width: 95%;
        transform: translateX(-50%);
        padding: 5rem 0;
        gap: 3rem;
        background-color: $nu-white;

        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        .nav-item {
            width: 100%;
        }

        .nav-link {
            display: block;
            width: 100%;
            text-align: center;
            color: $nu-dark-grayish-blue;
        }

        .btn {
            padding: 2rem 4rem;
            font-weight: 600;
            font-family: $font-header;
            font-size: 1.9rem;
            border-radius: 5rem;
            background: $pr-yellow;
            text-transform: uppercase;
        }

        &::before {
            content: '';
            position: absolute;
            top: -3rem;
            right: 0;
            border: 30px solid transparent;
            border-right-color: #fff;
        }
    }

    .open-menu {
        @media screen and (max-width: 684px) {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }
}
