@use '../abstracts/variables' as *;

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 550px;

    &__graphics {
        background: url('/assets/images/desktop/image-graphic-design.jpg');
        background-position: center;
        background-size: cover;
        position: relative;
    }
    &__photography {
        background: url('/assets/images/desktop/image-photography.jpg');
        background-position: center;
        background-size: cover;
        position: relative;
    }

    &__contents {
        position: absolute;

        left: 50%;
        bottom: 7rem;
        transform: translateX(-50%);
        text-align: center;
        line-height: 1.5;

        .title {
            font-family: $font-header;
            font-size: 3rem;
            color: $nu-very-dark-desaturated-blue;
            font-weight: 900;
            margin-bottom: 3rem;
        }

        .green {
            color: $pr-dark-desaturated-cyan;
        }

        .blue {
            color: $pr-dark-blue;
        }

        .description {
            max-width: 40ch;
        }
    }

    @media screen and (max-width: 684px) {
        grid-template-columns: 1fr;

        height: 1300px;

        &__contents {
            .description {
                width: 30ch;
                padding: 0 1rem;
            }
        }
    }
}
