@use '../abstracts/variables' as *;

.testimonials {
    padding: 10rem 7rem;

    &__header {
        font-family: $font-header;
        color: $nu-grayish-blue;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10rem;
        letter-spacing: 2px;
    }

    @media screen and (max-width: 684px) {
        padding-left: 2rem;
        padding-right: 2rem;

        &__header {
            font-size: 1.8rem;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

        @media screen and (max-width: 684px) {
            grid-template-columns: 1fr;
            row-gap: 8rem;
        }

        .client-testimonial {
            .image-box {
                position: relative;
                width: 8rem;
                height: 8rem;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    display: block;
                }
            }

            .description {
                margin: 4rem 0;
                text-align: center;
                line-height: 1.6;
            }

            .client-name {
                font-family: $font-header;
            }

            .job {
                margin-top: 1rem;
                color: $nu-grayish-blue;
            }
        }
    }
}
